.number {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 30px;
  margin-right: 10px;
}

.number--range1 {
  background: green;
}

.number--range2 {
  background: pink;
}

.number--range3 {
  background: blue;
  color: white;
}

.number--range4 {
  background: orange;
}

.number--range5 {
  background: black;
  color: white;
}

